.about_us_content{
 width: 800px;
 margin: 0px 100px;
 background-color: #ffd0c9;
 padding: 15px;
 border-radius: 20px;   
}

.about_us_content_2{
    width: 800px;
    margin: 0px 480px;
    background-color: #43afaf;
    color: white;
    padding: 15px;
    border-radius: 20px;
   
   }

   .about_us_content_3{
    width: 800px;
    margin: 0px 100px;
    background-color: #ffd0c9;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    top: -190px;    
   }

   .about_us_content_4{
    width: 800px;
    margin: 0px 100px;
    background-color: #ffd0c9;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    top: -270px;
    left: 380px;    
   }

.keypoints{
    width: 500px;
    font-size: 18px;
    margin: 0px auto;
}

.main-contributors-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    justify-content: center;
    height: 600px;
    width: 700px;
    margin: 0px auto;
    margin-bottom: 0 px;
    position: relative;
    bottom: 300px;
}

.contributors-container{
    height: 200px;
    width: 150px;
    background-color: white;
    box-shadow: 0px 0px 0px 3px rgb(240, 240, 240);
    border-radius: 15px;
    border-color: #ffb0a4;
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.admin{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border: 2.5px solid  #ffb0a4;
    position: relative;
    left: 25px;
    top: -100px;
}

.contributors-name{
 position: relative;
 left: -90px;
}

.font-size6{
    font-size: 15px;
}

.position6{
    left: -60px;
}

.about-us-images{
    height: 100px;
    position: relative;
    right: -1060px;
    top: -130px;

}

.about-us-images2{
    height: 220px;
    position: relative;
    right: -1040px;
    top: -430px;
}
.about-us-images3{
    height: 180px;
    position: relative;
    right: -140px;
    top: -180px;
}

.about-us-images4{
    height: 180px;
    position: relative;
    right: -140px;
    bottom: 50px;
}

.position9{
    position: relative;
    bottom: 300px;
}


