body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.heading{
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tagline {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
    font-size: 1.1em;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.outdoor-plants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plant-card{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.plant-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.plant-card h3 {
    margin-top: 15px;
    color: #333;
    font-size: 20px;
}
.description{
    margin: 10px 0;
    color: #666;
    font-size: 15px;
}
.plant-card .price{
    margin: 10px 0;
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
}
.plant-card .rating {
    margin-top: 10px;
    color: #FFD700; 
    margin: 0 2px; /* Space between stars */
}

.plant-card .rating i {
    color: #FFD700;
    margin-right: 5px;
}

.plant-card:hover {
    transform: scale(1.05); 
}

.btn{
    margin-top: 4px;
    background-color: #078080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #45a049;
    border-radius: 20px;
    transition: 0.5s;
}
.buy-now{
    text-decoration: none;
}

@media (max-width: 768px) {
    .plant-card {
        width: 48%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .plant-card {
        width: 100%; /* Full width for very small screens */
    }
}


